.imagem-carrosel {
  object-fit: cover;
  object-position: 0 70%;
  height: 450px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
}

article {
  width: 18rem;
}

h1 {
  color: white;
}

.font-titulo {
  font-family: "Pacifico", cursive;
}

.cor-especial {
  color: darkred;
}

.botao-cor-especial {
  background-color: darkred;
  color: white;
  border-color: darkred;
}

.botao-cor-especial:hover {
  background-color: rgb(238, 52, 52) !important;
  color: white !important;
}

.borda-cor-especial {
  border-color: darkred;
}

.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
